*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.upwindow{
     background: linear-gradient(rgb(95, 156, 255), rgb(148, 60, 216));
    padding:50px;
    flex-direction: column;
    text-align: center;
    color: white;

}   
.card1{
    width: 600px;
    height: 200px;
    display:flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 30px;
    border-radius: 10px;
    flex-direction: row;
    border: 5px;
    
 
}
section{
    padding: 10px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    width: 600px;


}
button{
    background-color:rgb(111, 111, 222);
}
.card1 h3{
    flex-grow: 1;
    text-align: left;
}
.card1 button{
    flex: 1 1 150px;
    align-self: flex-start;
    padding: 10px;

    border: none;
    border-radius: 5px;
}
.pinkbtn{
    background-color: rgb(255, 164, 228);
}